.page {background-color: 
  #AF90A9;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  

}

.imgsocial {
  display: flex;
  align-items: flex-start;
  flex-direction: row-reverse;

}

.becodelogo {display: flex;

}

.content {
  display: flex;
  background-color: #A05C7B;
color: antiquewhite;
flex-flow: column wrap;
align-items: center;
justify-content: space-around;
text-align: center;
font-size: 120%;
letter-spacing: 2px;
width: 400px ;
border-radius: 1em;
padding: 3% 10%;


}

.photomoi {
  border-radius: 50%;
}
